:root{
    --theme-color:#f94a4a;
    --color-1:#fff;
    --color-000:#000000;
    --color-666:#666666;
    --color-eee:#eee;
    --font-color-1:#191E2B;
    --font-color-2:#383B46;
    --font-color-3:#b3b3b3;
    --font-color-4:#F5F5F5;
    --font-color-5:#FFC11C;
    --font-color-6:#2DB370;
    --font-color-7:#FFDF00;
    --font-color-8:#B1865F;
    --font-color-9:#76BC63;
    --bg-color-1:#EA4747;
    --bg-color-2:#FF5D5D;
    --bg-color-3:#E1F2FF;
    --bg-color-4:#FCFBFB;
    --bg-color-5:#E77676;
    --bg-color-6:#5498D0;
    --bg-color-7:#FFFAF1;
    --bg-color-8:#FFFCEF;
    --bg-color-9:#EEFFFD;
    --bg-color-10:#FFCB76;
    --bg-color-11:#FFFCFD;
    --bg-color-12:#54aa3d;
    --bg-color-13:#f5a623;
}
.mobile .container{
    padding-right:8px;
    padding-left:8px;
}
.col-2,.col-5,.col-2-zs-b,.col-2-zs-x,.col-3{
    float:left;
}
.col-2{
    width:50%;
}
.col-3{
    width:33.333%
}
.col-5{
    width:20%;
}
.col-2-zs-b{
    width:58.409%;
}
.col-2-zs-x{
    width:41.591%;
}
/*header*/
.mobile .header{
    padding-bottom:10px;
}
.article-page .header,.category-page .header{
    box-shadow: 0px 1px 8px 0px rgba(97,17,16,0.1);
}
.mobile .header-logo{
    float:left;
    padding:0 8px;
}
.mobile .header-logo a img{
    height:40px;
}
.nav-mobile-more{
    float:right;
    padding:8px 16px;
}
.nav-mobile-more img{
    width:24px;
}
.mobile .header .nav-wrap{
    width:80%;
    height:100%;
    background:var(--theme-color);
    position:fixed;
    top:0;
    left:-80%;
    z-index:100;
    transition:all 0.3s ease;
}
.mobile .header .nav-wrap-bg{
    display:none;
}
.mobile .header .nav-wrap.active{
    left:0;
}
.mobile .header .nav-wrap-bg.active{
    display:block;
}
.nav-wrap .nav-close{
    text-align:right;
    padding:16px 16px 8px;
}
.nav-wrap .nav-close img{
    width:24px;
}
.nav-wrap ul{
    margin:0;
}
.nav-wrap .nav-link a{
    font-size:16px;
    line-height:24px;
    color:var(--color-1);
    padding:10px 0;
    margin:8px 16px;
    display:block;
}
.nav-wrap .nav-link a .unfold{
    width:24px;
    height:24px;
    float:right;
    transition:all 0.3s ease;
}
.nav-wrap .nav-link>li.active a img.unfold{
    transform:rotate(90deg);
    transition:all 0.3s ease;
}
.nav-link-sublevel{
    background:var(--bg-color-1);
    transition:all 0.3s ease;
    overflow:hidden;
}
.nav-wrap .nav-link>li.active .nav-link-sublevel{
    height:0px;
    transition:all 0.3s ease;
}
.nav-link-sublevel li{
    margin-bottom:8px;
}
.nav-link-sublevel li:last-child{
    margin-bottom:0;
}
.nav-wrap .nav-link .nav-link-sublevel li a{
    padding-left:26px;
    padding-right:10px;
    margin:0;
}
/*nav-联系*/
.contact-warp{
    margin-top:8px;
}
.contact-warp .contact-item{
    text-align:center;
}
.contact-warp .contact-item>img{
    width:64px;
    margin:8px 0 12px;
}
.contact-warp .contact-item>p{
    font-size:14px;
    color:var(--color-1);
    line-height:22px;
    margin-bottom:0;
}
.contact-warp .contact-item:last-child{
    margin-top:8px;
}
.contact-warp .contact-item .contact-icon{
    width:48px;
    height:48px;
    border-radius:54px;
    padding:12px;
    background:var(--bg-color-2);
    float:left;
    margin-left:8%;
}
.contact-warp .contact-item .contact-icon img{
    width:24px;
}
.contact-warp .contact-item .contact-main{
    margin-left:8px;
    float:left;
}
.contact-warp .contact-item .contact-main p{
    margin-bottom:0;
}
.contact-warp .contact-item .contact-main .phone{
    color:var(--color-1);
    font-size:16px;
    line-height:24px;
}
.contact-warp .contact-item .contact-main .time{
    color:var(--color-1);
    font-size:12px;
    line-height:18px;
    opacity:0.8;
    margin-left:13px;
}
.mobile .header .nav-wrap-bg{
    width:100%;
    height:100%;
    background:var(--color-000);
    opacity:0.32;
    position:fixed;
    top:0;
    left:0;
    z-index:99;
}
.mobile .breadcrumbs{
    margin-top:16px;
}


/*文章页*/

.article{
    padding-left:16px;
    padding-right:16px;
    padding-bottom:95px;
}
.article-head{
    border-bottom:1px solid var(--font-color-4);
    padding-top:24px;
}
.article-head .title{
    color: var(--font-color-2);
    font-size: 18px;
    line-height: 26px;
    font-weight: 900;
    padding: 12px 0 8px;
    margin: 0;
}
.article-head .meta {
    color: var(--color-666);
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 8px;
}
.article-head .meta span {
    margin-right: 24px;
}
.article-body{
    color: var(--color-666);
    font-size: 16px;
    line-height: 24px;
    padding-top:9px;
}
.article-body img {
    max-width:100%;
    margin: 24px auto;
    display: block;
}
.up-down {
    text-align: center;
    margin: 34px 0 24px;
}
.up-down a {
    color: var(--font-color-10);
    font-size: 14px;
    line-height: 22px;
    padding: 8px 24px;
    border-radius: 4px;
    border: 1px solid var(--bg-color-3);
    display: inline-block;
    margin: 0 16px;
}
.up-down a:last-child {
    background: var(--bg-color-3);
}
.section-head .title {
    font-size: 18px;
    font-weight: 900;
    line-height: 25px;
    margin: 0;
    position: relative;
    display: inline-block;
}
.section-head .title:after {
    content: '';
    width: 100%;
    height: 80%;
    background: linear-gradient(to right,#fff, #ffd465);
    display: block;
    position: absolute;
    top: 10%;
    right: -4px;
    border-radius: 4px;
}
.section-head .title span {
    position: relative;
    z-index: 1;
}
.section-head a{
    color:var(--font-color-3);
    font-size:14px;
    line-height:22px;
    float:right;
}
.recomment-body{
    margin-top:8px;
}
.article-item {
    height: 86.7px;
    border-bottom:1px solid var(--color-eee);
    padding:8px 0;
}
.article-item .thumb {
    width: 116px;
    height: 100%;
    border-radius: 8px;
    display: inline-block;
    overflow: hidden;
    float: left;
}
.article-item .thumb img {
    max-width: 100%;
}
.article-item .info {
    height: 100%;
    margin-left: 124px;
    position: relative;
}
.article-item .info .title {
    font-size: 16px;
    line-height: 24px;
}
.article-item .info .title a {
    color:var(--font-color-1);
}
.article-item .info .meta {
    width:100%;
    position: absolute;
    bottom: 0;
}
.article-item .info .meta>span {
    color: var(--font-color-3);
    font-size: 12px;
    line-height: 22px;
    display: inline-block;
}
.article-item .info .meta>span:last-child:before{
    margin-right:3px;
}
.article-item .info .meta>span:last-child{
    float:right;
}
/**分类列表**/
.category{
    padding-left:16px;
    padding-right:16px;
    padding-bottom:58px;
}
.category-warp{
    margin-top:10px;
}
/*赛事列表*/
.mobile .match-list{
    background:var(--bg-color-4);
    background-image:url("/img/ces.png");
    padding-left:16px;
    padding-right:16px;
}
.mobile .match-list-module{
    border-radius:8px;
    box-shadow:0px 0px 12px 0px rgba(190,112,112,0.08);
    background:var(--color-1);
    padding:8px 16px;
    margin-top:16px;
}
.match-list-module .module-title{
    color: var(--font-color-1);
    font-size: 14px;
    line-height: 21px;
    font-weight: 900;
    text-align: left;
    border-radius:4px;
    padding: 6px 8px;
    margin-bottom:8px;
    background:rgba(255,153,153,0.1);
}
.match-list-module .module-title .on-off{
    color: var(--theme-color);
    font-size: 14px;
    line-height: 22px;
    display: inline-block;
    cursor: pointer;
}
.match-list-module .module-title .on-off:before{
    content: '';
    width: 12px;
    border: 6px solid var(--theme-color);
    border-color: var(--theme-color) transparent transparent;
    display: inline-block;
    margin: 0 6px;
    position: relative;
    top: 4px;
}
.match-list-module .module-title .on-off.off:before{
    border-color: transparent transparent transparent var(--theme-color);
    top: 0;
    left: 3px;
}
.match-list-module .module-title>span:nth-child(2){
    margin: 0 10px;
}
.match-list-module.off .list-item{
    display:none;
}
.match-list-module .list-item{
    border-bottom:1px solid var(--color-eee);
    margin-bottom:8px;
}
.match-list-module .list-item .table{
    margin-bottom:0;
}
.match-list-module .list-item .table>tbody>tr>th,.match-list-module .list-item .table>tbody>tr>td{
    border-top:0;
}
.match-list-module .list-item .table>tbody>tr>td:first-child img{
    width:24px;
    height:24px;
    border-radius:32px;
}
.match-list-module .list-item .table>tbody>tr span{
    color:var(--font-color-1);
}
.match-list-module .list-item .table>tbody>tr>th{
    height:24px;
    color:var(--font-color-3);
    font-size:12px;
    line-height:24px;
    padding:0;
    padding-bottom:8px;
    text-align:center;
}
.match-list-module .list-item .table>tbody>tr>th:first-child{
    font-size:16px;
    line-height:24px;
    font-weight:900;
    text-align:left;
}
.match-list-module .list-item .table>tbody>tr>td:first-child span{
    font-size:14px;
    line-height:22px;
    display:inline-block;
    margin-left:8px;
}
.match-list-module .list-item .table>tbody>tr>td{
    color:var(--font-color-1);
    font-size:12px;
    line-height:18px;
    padding:0;
    padding-bottom:8px;
    text-align:center;
}
.match-list-module .list-item .table>tbody>tr>td:first-child{
    text-align:left;
}
.match-list-module .list-item-meta{
    color:var(--color-666);
    font-size:14px;
    line-height:22px;
    margin-bottom:8px;
}
.match-list-module .list-item-meta .time{
    display:inline-block;
    float:right;
}
.match-list-module .list-item-meta .time span:first-child{
    margin-right:8px;
}


/*赛事详情*/
.match-header{
    background:url("/img/m-match-top.png") no-repeat;
    background-size:100%;
    padding-top:14px;
    padding-left:16px;
    padding-right:16px;
    margin-bottom:22px;
}
.match-header .breadcrumbs{
    color:var(--color-1);
    margin-top:0;
    line-height:18px;
}
.match-header .breadcrumbs a{
    color:var(--color-1);
    display:inline-block;
}
.match-header .breadcrumbs span{
    display:inline-block;
    padding:0 8px;
}
.match-header-info{
    margin:16px 11.2% 0;
}
.match-header-info .time{
    text-align:center;
}
.match-header-info .time p{
    color:var(--color-1);
    font-size:12px;
    line-height:18px;
    margin-bottom:0;
}
.match-header-info .time p:first-child{
    font-size:14px;
    line-height:22px;
}
.match-header-info .time p a{
    color:var(--color-1);
    margin-left:16px;
}
.match-header-info .troop{
    width:100%;
    height:74px;
    position:relative;
}
.match-header-info .troop .home_team{
    float:left;
}
.match-header-info .troop .away_team{
    float:right;
}
.match-header-info .troop .match-score{
    width:100%;
    color:var(--font-color-5);
    font-size:12px;
    line-height:18px;
    text-align:center;
    position:absolute;
    bottom:8px;
}
.match-header-info .troop>div{
    width:33%;
}
.match-header-info .troop>div .name{
    width:56px;
    text-align:center;
}
.match-header-info .troop>div .name img{
    width:36px;
    height:36px;
    border-radius:32px;
}
.match-header-info .troop>div .name span{
    color:var(--color-1);
    font-size:14px;
    line-height:22px;
    display:block;
    margin-top:3px;
    white-space:nowrap;
}
.match-header-info .troop .home_team .name,.away_team .score{
    float:left;
}
.match-header-info .troop .home_team .score,.away_team .name{
    float:right;
}
.match-header-info .troop>div .score{
    color:var(--theme-color);
    font-size:32px;
    line-height:48px;
    font-weight:700;
}
.match-header-info .match-animation{
    text-align:center;
}
.match-header-info .match-animation a{
    background:rgba(255,255,255,0.6);
    border-radius:36px;
    padding:0 8px;
    display:inline-block;
}
.match-header-info .match-animation a img{
    width:15px;
    height:15px;
}
.match-header-info .match-animation a span{
    color:var(--font-color-6);
    font-size:12px;
    line-height:18px;
}
.match-header .match-nav{
    width:100%;
    overflow:auto;
    margin-left:-5px;
    margin-right:-5px;
    padding-left:5px;
    padding-right:5px;
    padding-top:8px;
    margin-top:16px;
    padding-bottom:6px;
}
.match-header .match-nav ul{
    margin-bottom:0;
}
.match-header .match-nav li a{
    color:var(--color-1);
    font-size:16px;
    line-height:24px;
    padding-bottom:5px;
    border-bottom:3px solid transparent;
    display:inline-block;
}
.match-header .match-nav li a:hover{
    text-decoration:none;
}
.match-header .match-nav li.active a{
    color:var(--font-color-7);
    border-bottom:3px solid var(--font-color-7);
}
.match-warp{
    padding:0 16px;
}
/*模块*/

section{
    padding-bottom:22px;
}


/*首发阵容*/
.match-shoufa{

}
.match-shoufa .section-content{
    margin-top:16px;
}
.shoufa-map{
    background:var(--bg-color-12);
    border-radius:5px;
    margin-bottom:16px;
    overflow:hidden;
}
.shoufa-map .shoufa-map-head{
    font-size:12px;
    line-height:18px;
    color:var(--color-1);
    text-align:center;
}
.shoufa-map .shoufa-map-head>div{
    padding-left:20px;
    padding-right:20px;
}
.shoufa-map .shoufa-map-head>div>div:nth-child(2){
    opacity:0.5;
}
.shoufa-map .shoufa-map-head .jiaolian{
    border-bottom:1px solid var(--font-color-9);
    padding-top:15px;
    padding-bottom:15px;
}
.shoufa-map .shoufa-map-head .shenjia{
    padding-top:10px;
}
.shoufa-map .shoufa-map-content{
    position:relative;
}
.shoufa-map .shoufa-map-content img.qiuchang{
    width:100%;
}
.qiuchang-wrap{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:1;
}
.qiuchang-wrap .team-item{

}
.qiuchang-wrap .zhu-team .team-user .number{
    background-image:url('/img/lineup-home-icon.png');
}
.qiuchang-wrap .ke-team .team-user .number{
    background-image:url('/img/lineup-away-icon.png');

}
.qiuchang-wrap>div{
    height:50%;
    position:relative;
}
.qiuchang-wrap > div .team-item{
    height:106px;
    position:absolute;
}
.qiuchang-wrap .zhu-team .team-item{
    margin-left:-60px;
    margin-top:-53px;
}
.qiuchang-wrap .ke-team .team-item{
    margin-right:-60px;
    margin-bottom:-53px;
}
.qiuchang-wrap .team-user{

}
.qiuchang-wrap .team-user .number{
    width:37px;
    height:34px;
    color:var(--font-color-4);
    font-size:12px;
    line-height:34px;
    text-align:center;
    background:no-repeat;
    background-size: 100%;
    margin:0 auto;
    position:relative;
}
.qiuchang-wrap .team-user .number span{
    font-size:10px;
    line-height:14px;
    padding:0 5px;
    border-radius:10px;
    background:var(--bg-color-13);
    display:inline-block;
    position:absolute;
    right:-20px;
    transform:scale(0.9);
}
.qiuchang-wrap .team-user .name{
    width:120px;
    text-align:center;
    color:var(--font-color-4);
    font-size:12px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    margin-top:2px;
}
.qiuchang-wrap .team-user .info{
    width:15px;
    height:15px;
    line-height:12px;
    background:var(--bg-color-4);
    border-radius:50%;
    text-align:center;
    margin:0 auto;
}
.qiuchang-wrap .team-user .info img{
    width:100%;
}



.shoufa-tb{

}
.shoufa-tb>div:first-child .sftb-content .content{
    border-right:1px solid var(--color-eee);
}
.sftb-content .title{
    color: var(--color-1);
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding: 8px 0;
}
.sftb-content.zhu .title{
    background: var(--bg-color-5);
}
.sftb-content.ke .title{
    background: var(--bg-color-6);
}
.sftb-content .content .sftb-item{
    border-bottom: 1px solid var(--color-eee);
    padding-bottom:8px;
}
.sftb-content .content .sftb-item p{
    color: var(--font-color-1);
    font-size: 14px;
    line-height: 22px;
    padding-top:8px;
    padding-bottom:8px;
    margin: 0;
}
.sftb-content .content .sftb-item p:after{
    content:'';
    clear:both;
    display:block;
}
.sftb-content .content .sftb-item p img{
    width:24px;
    height:24px;
    float:right;
}
.sftb-content.zhu .content .sftb-item p img{
    margin-right:16px;
}
.sftb-content .content .sftb-item p span{
    display:inline-block;
    float:left;
}
.sftb-content .content .sftb-item p span:first-child{
    color:var(--font-color-3);
    margin-right:16px;
}
.sftb-content .content .sftb-item p span:nth-child(2){
    width:105px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.sftb-content.ke .content .sftb-item p span:first-child{
    margin-left:16px;
}
.shoufa-label{
    margin-top:16px;
}
.shoufa-label .sf-label-item{
    margin-right:16px;
    margin-bottom:8px;
    float:left;
}
.shoufa-label .sf-label-item img{
    width:24px;
    height:24px;
    margin-right:8px;
}
.shoufa-label .sf-label-item span{
    color:var(--color-666);
    font-size:14px;
    line-height:22px;
    display:inline-block;
}
/*盈球爆料*/
.match-baoliao{

}
.match-baoliao .section-content{
    background:var(font-color-1);
    box-shadow: 0px 0px 12px 0px rgba(190,112,112,0.08);
    padding:16px;
    border-radius:16px;
    margin-top:16px;
}
.baoliao-item .title{
    color:var(--color-000);
    font-size:18px;
    line-height:27px;
}
.baoliao-item .meta{
    color:var(--font-color-3);
    font-size:12px;
    line-height:18px;
    position:relative;
    padding-left:18px;
}
.baoliao-item .meta:before{
    content:'';
    width:14px;
    height:14px;
    border-radius:50%;
    border:1px solid var(--theme-color);
    display:inline-block;
    position:absolute;
    top:2px;
    left:0;
}
.baoliao-item .content{
    color:var(--color-666);
    font-size:14px;
    line-height:22px;
    margin-top:8px;
}


/*伤停解读*/
.match-stjd{

}
.stjd-content .title{
    margin-bottom:8px;
}
.match-stjd .section-content>div:first-child .stjd-content .content{
    border-right: 1px solid var(--color-eee);
}
.match-stjd .st-item{
    padding:8px 0 !important;
    margin: 0 8px;
}
.match-stjd .st-item:first-child{
    padding-top:0 !important;
}
.match-stjd .st-item .name span:first-child{
    width:60%;
    font-size:14px;
    line-height:22px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    display:inline-block;
}
.match-stjd .st-item .name span:last-child{
    color:var(--color-1);
    font-size:12px;
    line-height:18px;
    padding:0 6px;
    border-radius:21px;
    background:var(--font-color-3);
    transform:scale(0.83333);
    margin-top:2px;
    display:inline-block;
    margin-right:-3px;
}
.match-stjd .st-item.active .name span:last-child{
    background:var(--theme-color);
}
.match-stjd .st-item>div:after{
    content:'';
    clear:both;
    display:table;
}
.match-stjd .st-item>div span:first-child{
    float:left;
}
.match-stjd .st-item>div span:last-child{
    float:right;
}
.match-stjd .st-item .meta span{
    color:var(--font-color-3);
    font-size:12px;
    line-height:18px;
    display:inline-block;
}

.stjd-info{
    margin-top:16px;
}
.stjd-info .title{
    margin-bottom:16px;
    font-size:18px;
    line-height:27px;
}
.stjd-info .title img{
    width:24px;
    heigth:24px;
    margin-right:8px;
}
.stjd-info .title span{
    display:inline-block;
}
.stjd-info .content{
    background:var(--bg-color-7);
    padding:16px;
}
.stjd-info .content p{
    color:var(--font-color-1);
    font-size:16px;
    line-height:24px;
    text-align:justify;
}


    /*球队特征*/
.match-qdtz .section-content{
    margin-top:16px;
}
.match-qdtz .section-content>div:first-child .qdtz-content .content{
    border-right: 1px solid var(--color-eee);
}
.qdtz-content .title{
    color:var(--color-1);
    font-size:16px;
    line-height:24px;
    text-align:center;
    padding:8px 0;
}
.qdtz-content.zhu .title{
    background:var(--bg-color-5);
}
.qdtz-content.ke .title{
    background:var(--bg-color-6);
}
.qdtz-content .content .tz-item{
    border-bottom: 1px solid var(--color-eee);
    padding: 16px 8px;
}
.qdtz-content .content .tz-item p{
    color: var(--font-color-1);
    font-size: 14px;
    text-align:justify;
    line-height: 22px;
    margin: 0;
}
/*精彩点评*/
.match-comment{

}
.match-comment .comment-item{
    border-bottom: 1px solid var(--color-eee);
    padding: 16px 0;
}
.match-comment .comment-item .img{
    float: left;
}
.match-comment .comment-item .img img{
    width: 56px;
    height: 56px;
    border-radius: 4px;
}
.match-comment .comment-item .item-content{
    margin-left: 80px;
}
.match-comment .comment-item .item-content .meta{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 8px;
}
.match-comment .comment-item .item-content .meta .name{
    color: var(--font-color-1);
    margin-right: 16px;
    display: inline-block;
}
.match-comment .comment-item .item-content .meta .time{
    color: var(--font-color-3);
    display: inline-block;
}
.match-comment .comment-item .item-content .info p{
    font-size: 14px;
    color: var(--color-666);
    line-height: 22px;
    margin: 0;
}


/**  首页  **/
.home{
    margin-bottom:100px;
}
.home>section{
    background:var(--bg-color-11);
}
.home-banner .carousel-indicators{
    margin-bottom:0;
    bottom:8px;
}
.home-banner .carousel-indicators li{
    width:12px;
    height:4px;
    border-radius:45px;
    background: rgba(235,235,236,0.46);
    border:none;
    margin:0;
}
.home-banner .carousel-indicators li.active{
    background:var(--color-1);
}
.home-nav,.home-wanghong,.home-zhuanjia,.home-article,.home-footer-nav,.home-zhishu,.home-match{
    padding-left:16px;
    padding-right:16px;
}
.home-nav-wrap{
    margin-left:-6px;
    margin-right:-6px;
}
.home-nav-wrap .col-5{
    text-align:center;
}
.nav-item{
    text-align:center;
    display:inline-block;
}
.nav-item img{
    width:48px;
}
.nav-item p{
    color:var(--font-color-1);
    font-size:14px;
    line-height:22px;
    margin:0;
}
/*首页-每天赛程*/
.home-match{

}
.home-match .section-content{
    margin-top:23px;
}
.home-match-wrap{
    background:var(--color-1);
    box-shadow: 0px 0px 12px 0px rgba(190,112,112,0.08);
    border-radius:16px;
    padding:16px;
}
.home-match-nav{
    padding-bottom:1px;
    border-bottom:1px solid var(--color-eee);
}
.home-match-nav ul{
    margin-bottom:0;
    margin-left:-8.2px;
    margin-right:-8.2px;
}
.home-match-nav li{
    width:14.285%;
    padding-right:0;
    padding-left:0;
    float:left;
}
.home-match-nav .item:after{
    content:'';
    width:28px;
    height:2px;
    display:block;
    margin:5px auto 0;
}
.home-match-nav .item span{
    font-size:12px;
    line-height:18px;
    text-align:center;
    display:block;
}
.home-match-nav .item span:first-child{
    color:var(--font-color-1);
    margin-bottom:8px;
}
.home-match-nav .item span:last-child{
    width:28px;
    height:28px;
    color:var(--color-666);
    padding:5px 0;
    margin:0 auto;
    border-radius:50%;
}
.home-match-nav li.active .item span:first-child{
    color:var(--bg-color-1);
}
.home-match-nav li.active .item span:last-child{
    color:var(--color-1);
    background:var(--bg-color-1);
}
.home-match-nav li.active .item:after{
    background:var(--bg-color-1);
}
.home-match-content .item{
    margin-top:16px;
    display:none;
}
.home-match-content .item.active{
    display:block;
}
.home-match-content .item .table{
    margin-bottom:0;
}
.home-match-content .item tr>th span{
    color:var(--font-color-3);
    font-size:12px;
    line-height:18px;
}
.home-match-content .item tr>th,.home-match-content .item tr>td{
    padding-left:0;
    padding-right:0;
    padding-top:0;
    padding-bottom:8px;
    text-align:center;
    border-top:0;
}
.home-match-content .item tr>th:first-child{
    text-align:left;
}
.home-match-content .item tr>td:first-child{
    text-align:left;
}
.home-match-content .item tr>th:first-child span{
    color:var(--font-color-1);
    font-size:16px;
    line-height:24px;
    font-weight:900;
    display:inline-block;
}
.home-match-content .item tr>td .name img{
    width:24px;
    height:24px;
    border-radius:32px;
    margin-right:8px;
}
.home-match-content .item tr>td .name span{
    color:var(--font-color-1);
    font-size:14px;
    line-height:22px;
    display:inline-block;
}
.home-match-content .item .item-footer{
    text-align:right;
    padding:3px 0;
}
.home-match-content .item .item-footer>span{
    font-size:12px;
    line-height:18px;
    display:inline-block;
}
.home-match-content .item .item-footer>span:first-child{
    color:var(--font-color-6);
    margin-right:8px;
}
.home-match-content .item .item-footer>span>img{
    width:17px;
    height:18px;
}
.home-match-content .item .item-footer>span:last-child{
    color:var(--font-color-3);
}


/*首页-夺冠指数*/
.home-zhishu .section-content{
    margin-top:23px;
}
.zhishu-wrap{
    border-radius:8px;
    background:var(--bg-color-10);
    padding:8px;
}
.zhishu-wrap>div{
    padding-left:8px;
    padding-right:8px;
}
.zhishu-wrap .zhishu-item{
    background: var(--color-1);
    border-radius: 8px;
    padding: 10px 8px;
    margin:8px 0;
    display: block;
}
.zhishu-wrap .zhishu-item:after{
    content:'';
    clear:both;
    display:table;
}
.zhishu-wrap .zhishu-item img{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
}
.zhishu-wrap .zhishu-item span:nth-child(2){
    width: 48px;
    font-size:12px;
    line-height: 18px;
    float: left;
    color: var(--font-color-1);
}
.zhishu-wrap .zhishu-item span:last-child{
    font-size: 14px;
    line-height: 18px;
    color: var(--theme-color);
    font-weight: 900;
    float: right;
}
.zhishu-wrap .zhishu-item-jm{
    background: linear-gradient(90deg, #FEF1D8 0%, #FFFFFF 100%);
    padding: 8px;
    border-radius: 8px;
    display: block;
    position:relative;
    margin:8px 0;
}
.zhishu-wrap .zhishu-item-jm .item-title{
    color: var(--font-color-1);
    font-size: 16px;
    line-height:24px;
    font-weight: 900;
    margin-bottom: 4px;
}
.zhishu-wrap .zhishu-item-jm p{
    color: var(--font-color-8);
    font-size: 12px;
    line-height:18px;
    padding-bottom:20px;
    margin-bottom: 0;
}
.zhishu-wrap .zhishu-item-jm img{
    width:43px;
    position:absolute;
    right:0;
    bottom:0;
}

/*首页-每天赛程*/
.home-article .section-content{
    margin-top:23px;
}
.home-article .section-content ul li{
    padding: 4px 0;
}
.home-article .section-content ul li a{
    color:var(--font-color-1);
    font-size:14px;
    line-height:22px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    display:block;
}
.home-article .section-content ul li a span{
    display: inline-block;
    padding-right: 10px;
    border-right: 1px solid var(--color-eee);
    margin-right: 10px;
}
.home-article .section-content ul li:first-child a{
    color:var(--bg-color-1);
}


/*网红计划单*/
.home-wanghong .section-content{
    margin-top:23px;
}
.card-wrap{
    overflow:auto;
    padding:5px 0;
}
.card-wrap ul{
    margin-bottom:0;
    margin-left:-8px;
}
.card-wrap li{
    padding-left:8px;
    padding-right:8px;
}
.home-wanghong .card-item{
    background:var(--bg-color-8);
    box-shadow: 0px 0px 8px 0px rgba(178,173,30,0.1);
}
.card-item{
    width:152px;
    border-radius: 8px;
    text-align: center;
    display: block;
    padding: 12px;
}
.card-item .user-img{
    width: 62px;
    height: 92px;
    position: relative;
    margin: 0 auto;
}
.card-item .user-img img{
    max-width: 80%;
}
.card-item .user-img span{
    width: 100%;
    font-size: 14px;
    color: var(--font-color-4);
    line-height: 22px;
    border-radius: 22px;
    background: var(--bg-color-2);
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
}
.card-item p:nth-child(2){
    color: var(--font-color-1);
    font-size: 16px;
    line-height: 24px;
    font-weight: 900;
    margin-top: 8px;
    margin-bottom: 10px;
}
.card-item p:last-child{
    color: var(--font-color-1);
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
}
.card-wrap li{
    float:left;
}
/*足球专家排行榜*/
.home-zhuanjia{

}
.home-zhuanjia .section-content{
    margin-top:23px;
}
.home-zhuanjia .card-item{
    background:var(--bg-color-9);
    box-shadow: 0px 0px 8px 0px rgba(30,178,170,0.1);
}
.home-zhuanjia .section-content{

}
/*底部导航*/
.home-footer-nav{
    width:100%;
    background:var(--color-1);
    margin-bottom:0;
    padding-bottom:34px;
    position:fixed;
    bottom:0;
    z-index:99;
}
.footer-nav-wrap{
    padding:5px 0 4px;
}
.footer-nav-item{
    text-align:center;
    display:block;
}
.footer-nav-item img{
    width:18px;
    height:18px;
}
.footer-nav-item p{
    margin-bottom:0;
}
.footer-nav-item{
    color:var(--color-666);
    -webkit-filter:grayscale(100%);
    filter:grayscale(100%);
}

.home-footer-nav .footer-nav-item.active{

    color:var(--theme-color);
}
