:root{
    --font-color-1:#191e2b;
    --font-color-2:#666666;
    --font-color-3:#eeeeee;
    --font-color-4:#ffffff;
    --font-color-5:#b3b3b3;
    --theme-color:#f94a4a;
    --bg-color-1:#D73D4F;
    --bg-color-2:#E16D6E;
    --bg-color-3:#FFE0E0;
    --bg-color-4:#ffffff;
}
body{
    font-family: Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,sans-serif;
}
/*布局*/
@media (min-width: 1340px){
    .container{
        width:1298px;
    }
}
@media (max-width: 1200px){
    body{
        min-width:1100px;
    }
    .container{
        width:970px;
    }
}
.col-1-x,.col-1-b,.col-2-x,.col-2-b,.col-1,.col-2,.col-7{
    float:left;
}
.col-1-x{
    width:24.919%; /*286--310*/
}
.col-1-b{
    width:75.081%;
}
.col-2-x{
    width:33.762%;
}
.col-2-b{
    width:66.238%;
}
.col-1{
    width:100%;
}
.col-2{
    width:50%;
}
.col-7{
    width:14.285%; /*7分*/
}
.padd-4{
    padding-top:4px;
    padding-bottom:4px;
    padding-left:4px;
    padding-right:4px;
}
.padd-12{
    padding-top:12px;
    padding-bottom:12px;
    padding-left:12px;
    padding-right:12px;
}


/*头部*/
header .container{
    padding-top:7.5px;
    padding-bottom: 7.5px;
}
/*头部logo*/
header .nav-logo{
    padding:7.5px 0;
    margin-right:20px;
    float:left;
}
header .nav-logo a{
    height:35px;
    display:block;
}
header .nav-logo a img{
    max-height:100%;
}
/**头部导航**/
header nav.navbar-nav{
    height:50px;
    margin-left:20px;
    float:left;
}
header nav.navbar-nav a{
    height:100%;
    color:var(--font-color-1);
    font-size:16px;
    font-weight:900;
    padding:7.5px 15px 15px;
    margin:0 20px;
    display:inline-block;
}

/**头部联系客服**/
header .top-kefu{
    float:right;
    margin-right:60px;
} 
header .top-kefu .kefu-icon{
    height:50px;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:15px;
    margin-right:10px;
    float:left;
    position:relative;
}
header .top-kefu .kefu-icon:after{
    content:'';
    width:2px;
    height:100%;
    background:var(--font-color-3);
    display:block;
    position:absolute;
    top:0;
    right:0;
} 
header .top-kefu .kefu-icon img{
    max-height:100%;
}
header .top-kefu .kefu-btn{
    height:50px;
    float:left;
    position:relative;
}
header .top-kefu .kefu-btn .phone{
    color:var(--font-color-1);
    font-size:12px;
    font-weight:900;
}
header .top-kefu .kefu-btn .btn{
    height:28px;
    color: var(--font-color-2);
    font-size:13px;
    line-height:28px;
    padding:0 6px;
    border-color: var(--font-color-3);
    background-color:#fff;
    position:absolute;
    bottom:0;
}
header .top-kefu .kefu-btn .btn:hover{
    transition:all 0.1s ease-in-out;
    bottom:1px;
    box-shadow:0px 1px 2px -1px rgba(0,0,0,0.2); 
}
header .top-kefu .kefu-btn .btn img{
    max-height:20px;
    position:relative;
    top:-1px;
}
/**头部登录注册按钮**/
header .visitor{
    padding:5px 0;
    float:right;
}
header .visitor a.btn{
    font-size:12px;
    height:40px;
    line-height:40px;
    padding:0 25px;
    margin-left:10px;
}
header .visitor .btn.login{
    color:#fff;
    background-color:var(--theme-color);
    border-color:var(--theme-color);
}

@media (max-width: 1440px){

    /**头部导航**/
    header nav.navbar-nav{
        margin-left:15px;
    }
    header nav.navbar-nav a{
        padding:7.5px 15px 15px;
        margin:0 15px;
    }
    /**头部联系客服**/
    header .top-kefu{
        margin-right:50px;
    } 

}

@media (max-width: 1200px){
    /*头部logo*/
    header .nav-logo{
        padding:7.5px 0;
        margin-right:10px;
    }

    /**头部导航**/
    header nav.navbar-nav{
        margin-left:10px;
    }
    header nav.navbar-nav a{
        padding:7.5px 5px 15px;
        margin:0 10px;
    }
    /**头部联系客服**/
    header .top-kefu{
        margin-right:20px;
    } 
    
    /**头部登录注册按钮**/
    header .visitor{
        padding:5px 0;
    }
    header .visitor a.btn{
        padding:0 20px;
        margin-left:5px;
    }

}


/**公共底部**/
footer{
    color:#fff;
    background:#282f3c;
    border-top:1px solid #282f3c;
}
footer a{
    color:#fff;
}
.footer-container{
    margin:0 auto;
    padding-left:15px;
    padding-right:15px;
}
@media (min-width: 1440px){
    .footer-container{
        width:1400px;
    }
}
@media (max-width: 1440px){
    .footer-container{
        width:1170px;
    }
}
/**公共底部链接部分**/
.footer-link{
    border-top:1px solid #1b2230;
    padding:30PX 0 40PX;
}
.footer-link .link-item{
    margin-right:110px;
    float:left;
}
.footer-link .link-item .title{
    padding-bottom:20px;
    margin:0;
}
.footer-link .link-item ul{
    margin:0;
}
.footer-link .link-item li{
    padding-bottom:20px;
}
.footer-link .link-item li a{
    font-size:14px;
}
.footer-contact{
    margin:20px 0;
    float:right;
}
.contace-content .contace-icon{
    margin-right:20px;
    float:left;
}
.contace-content .contace-main{
    float:left;
}
.contace-content .contace-main .phone{
    font-size:20px;
}
.contace-content .contace-main .time{
    font-size:14px;
}
.contace-content .contace-main .contace-btn{
    margin-top:20px;
}
.contace-content .contace-main .contace-btn a{
    font-size:18px;
    font-weight:900;
    padding:10px 20px;
    background:#424854;
    border-radius:4px;
    display:inline-block;

}


.contace-item{
    float:left;
    margin-left:50px;
}
.contace-item:first-child{
    margin-left:0;
}
.contace-item>p{
    margin-top:15px;
    text-align:center;
}
@media (max-width: 1200px){
    .footer-container{
        width:970px;
    }
    .footer-link .link-item{
        margin-right:80px;
    }
    .contace-item{
        margin-left:40px;
    }
}
/**公共底部版权部分**/
footer .copyright{
    border-top:1px solid #4f555f;
}
footer .copyright p{
    padding:20px 0 30px;
}
footer .copyright p span{
    margin:0 10px;
    display:inline-block;
}


/**主体内容**/
.wrap{
    min-height:200px;
    background:#f2f2f2;
}
.content-wrap{
    min-height:500px;
    background:#fff;
    border-radius:8px;
    padding:12px;
    box-shadow:0px 0px 30px 0px rgba(0,0,0,0.2);
    margin-top:37px;
    margin-bottom:41px;
}

/**首页**/
.zhuanti>div{
    padding:12px;
}
.zhuanti-main{
    background:var(--bg-color-1);
    border-radius:8px;
    padding:12px;
}
.zhuanti-main .title{
    color:var(--font-color-4);
    font-size:18px;
    line-height:27px;
    font-weight:900;
    margin:0;
}
.zt-item{
    border-radius:4px;
    padding:8px;
    background:#fff no-repeat right bottom;
    background-size:44px;
    position:relative;
    display:block;
}
.zt-item .item-title{
    color:var(--font-color-1);
    font-size:14px;
    font-weight:900;
    line-height:21px;
}
.zt-item p{
    color:var(--font-color-5);
    font-size:12px;
    line-height:18px;
}
.zt-item .icon{
    width:44px;
    position:absolute;
    bottom:0;
    right:0;
}
.zt-item.icon-1{
    background-image:url('/img/zt-icon-1.png');
}
.zt-item.icon-2{
    background-image:url('/img/zt-icon-2.png');
}
.zt-item.icon-3{
    background-image:url('/img/zt-icon-3.png');
}
.zt-item.icon-4{
    background-image:url('/img/zt-icon-4.png');
}
.zt-zb-item.icon-5{
    background-image:url('/img/zt-icon-5.png');
}
.zt-zb-item{
    border-radius:4px;
    background:var(--bg-color-3) no-repeat right bottom;
    background-size:80px;
    padding:16px;
    display:block;
}
.zt-zb-item .item-title{
    color:var(--font-color-1);
    font-size:24px;
    line-height:36px;
}
.zt-zb-item p{
    color:var(--font-color-2);
    font-size:12px;
    line-height:18px;
    margin-bottom:5px;
}
.zhuanti-btn a{
    color:var(--font-color-4);
    font-size:16px;
    line-height:24px;
    font-weight:900;
    text-align:center;
    border-radius:4px;
    padding:6px 0;
    display:block;
    background:var(--bg-color-2);
}
.zhuanti-banner{
    height:348px;
    overflow:hidden;
    border-radius:8px;
}
.zhuanti-banner a{
    height:100%;
    display:block;
}
.zhuanti-banner a img{
    max-height:100%;
}
@media (max-width: 1340px){
    .content-wrap{
        padding:8px;
    }
    .zhuanti>div{
        padding:8px;
    }
    .zhuanti-main{
        padding:8px;
    }
    .zt-item{
        background-size:35px;
    }
    .zhuanti-banner{
        height:340px;
    }
}