:root{
    --font-color-1:#191e2b;
    --font-color-2:#666666;
    --font-color-3:#eeeeee;
    --font-color-4:#ffffff;
    --font-color-5:#b3b3b3;
    --font-color-6:#2DB370;
    --font-color-7:#eeeeee;
    --font-color-8:#b1865f;
    --theme-color:#f94a4a;
    --bg-color-1:#D73D4F;
    --bg-color-2:#E16D6E;
    --bg-color-3:#FFE0E0;
    --bg-color-4:#ffffff;
    --bg-color-5:#FFF9EE;
    --bg-color-6:#ffcb76;
    --bg-color-7:#EEFFFD;
    --bg-color-8:#FFFCEF;
    --bg-color-9:#feeded;
}
body{
    font-family: Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,sans-serif;
}
/*布局*/
@media (min-width: 1340px){
    .container{
        width:1298px;
    }
}
@media (max-width: 1200px){
    body{
        min-width:1190px;
    }
    .container{
        width:1170px;
    }
}
.col-1-x,.col-1-b,.col-2-x,.col-2-b,.col-3-x,.col-3-b,.col-1,.col-2,.col-3,.col-4,.col-7{
    float:left;
}
.col-1-x{
    width:24.919%; /*286--310*/
}
.col-1-b{
    width:75.081%;
}
.col-2-x{
    width:33.762%;
}
.col-2-b{
    width:66.238%;
}
.col-3-x{
    width:42.857%;
}
.col-3-b{
    width:57.142%;
}
.col-1{
    width:100%;
}
.col-2{
    width:50%;
}
.col-3{
    width:33.33%;
}
.col-4{
    width:25%;
}
.col-7{
    width:14.285%; /*7分*/
}
.padd-4{
    padding-top:4px;
    padding-bottom:4px;
    padding-left:4px;
    padding-right:4px;
}
.padd-12{
    padding-top:12px;
    padding-bottom:12px;
    padding-left:12px;
    padding-right:12px;
}


/*头部*/
header .container{
    padding-top:7.5px;
    padding-bottom: 7.5px;
}
/*头部logo*/
header .nav-logo{
    padding:7.5px 0;
    margin-right:20px;
    float:left;
}
header .nav-logo a{
    height:35px;
    display:block;
}
header .nav-logo a img{
    max-height:100%;
}
/**头部导航**/
header nav.navbar-nav{
    height:50px;
    margin-left:20px;
    float:left;
}
header nav.navbar-nav a{
    height:100%;
    color:var(--font-color-1);
    font-size:16px;
    font-weight:900;
    padding:7.5px 15px 15px;
    margin:0 20px;
    display:inline-block;
}

/**头部联系客服**/
header .top-kefu{
    float:right;
    margin-right:60px;
} 
header .top-kefu .kefu-icon{
    height:50px;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:15px;
    margin-right:10px;
    float:left;
    position:relative;
}
header .top-kefu .kefu-icon:after{
    content:'';
    width:2px;
    height:100%;
    background:var(--font-color-3);
    display:block;
    position:absolute;
    top:0;
    right:0;
} 
header .top-kefu .kefu-icon img{
    max-height:100%;
}
header .top-kefu .kefu-btn{
    height:50px;
    float:left;
    position:relative;
}
header .top-kefu .kefu-btn .phone{
    color:var(--font-color-1);
    font-size:12px;
    font-weight:900;
}
header .top-kefu .kefu-btn .btn{
    height:28px;
    color: var(--font-color-2);
    font-size:13px;
    line-height:28px;
    padding:0 6px;
    border-color: var(--font-color-3);
    background-color:#fff;
    position:absolute;
    bottom:0;
}
header .top-kefu .kefu-btn .btn:hover{
    transition:all 0.1s ease-in-out;
    bottom:1px;
    box-shadow:0px 1px 2px -1px rgba(0,0,0,0.2); 
}
header .top-kefu .kefu-btn .btn img{
    max-height:20px;
    position:relative;
    top:-1px;
}
/**头部登录注册按钮**/
header .visitor{
    padding:5px 0;
    float:right;
}
header .visitor a.btn{
    font-size:12px;
    height:40px;
    line-height:40px;
    padding:0 25px;
    margin-left:10px;
}
header .visitor .btn.login{
    color:#fff;
    background-color:var(--theme-color);
    border-color:var(--theme-color);
}

@media (max-width: 1440px){

    /**头部导航**/
    header nav.navbar-nav{
        margin-left:15px;
    }
    header nav.navbar-nav a{
        padding:7.5px 15px 15px;
        margin:0 15px;
    }
    /**头部联系客服**/
    header .top-kefu{
        margin-right:50px;
    } 

}

@media (max-width: 1200px){
    /*头部logo*/
    header .nav-logo{
        padding:7.5px 0;
        margin-right:10px;
    }

    /**头部导航**/
    header nav.navbar-nav{
        margin-left:10px;
    }
    header nav.navbar-nav a{
        padding:7.5px 5px 15px;
        margin:0 10px;
    }
    /**头部联系客服**/
    header .top-kefu{
        margin-right:20px;
    } 
    
    /**头部登录注册按钮**/
    header .visitor{
        padding:5px 0;
    }
    header .visitor a.btn{
        padding:0 20px;
        margin-left:5px;
    }

}


/**公共底部**/
footer{
    color:#fff;
    background:#282f3c;
    border-top:1px solid #282f3c;
}
footer a{
    color:#fff;
}
.footer-container{
    margin:0 auto;
    padding-left:15px;
    padding-right:15px;
}
@media (min-width: 1200px){
    .footer-container{
        width:1170px;
    }
}
@media (min-width: 1340px){
    .footer-container{
        width:1289px;
    }
}
@media (min-width: 1440px){
    .footer-container{
        width:1400px;
    }
}
@media (max-width: 1200px){
    .footer-container{
        width:1170px;
    }
}
/**公共底部链接部分**/
.footer-link{
    border-top:1px solid #1b2230;
    padding:30PX 0 40PX;
}
.footer-link .link-item{
    margin-right:110px;
    float:left;
}
.footer-link .link-item .title{
    padding-bottom:20px;
    margin:0;
}
.footer-link .link-item ul{
    margin:0;
}
.footer-link .link-item li{
    padding-bottom:20px;
}
.footer-link .link-item li a{
    font-size:14px;
}
.footer-contact{
    margin:20px 0;
    float:right;
}
.contace-content .contace-icon{
    margin-right:20px;
    float:left;
}
.contace-content .contace-main{
    float:left;
}
.contace-content .contace-main .phone{
    font-size:20px;
}
.contace-content .contace-main .time{
    font-size:14px;
}
.contace-content .contace-main .contace-btn{
    margin-top:20px;
}
.contace-content .contace-main .contace-btn a{
    font-size:18px;
    font-weight:900;
    padding:10px 20px;
    background:#424854;
    border-radius:4px;
    display:inline-block;

}


.contace-item{
    float:left;
    margin-left:50px;
}
.contace-item:first-child{
    margin-left:0;
}
.contace-item>p{
    margin-top:15px;
    text-align:center;
}
/**公共底部版权部分**/
footer .copyright{
    border-top:1px solid #4f555f;
}
footer .copyright p{
    padding:20px 0 30px;
}
footer .copyright p span{
    margin:0 10px;
    display:inline-block;
}


/**主体内容**/
.wrap{
    min-height:200px;
    background:#f2f2f2;
}
.content-wrap{
    min-height:500px;
    background:#fff;
    border-radius:8px;
    padding:12px;
    box-shadow:0px 0px 30px 0px rgba(0,0,0,0.2);
    margin-top:37px;
    margin-bottom:41px;
}

/**首页**/
.zhuanti>div{
    padding:12px;
}
.zhuanti-main{
    background:var(--bg-color-1);
    border-radius:8px;
    padding:12px;
}
.zhuanti-main .title{
    color:var(--font-color-4);
    font-size:18px;
    line-height:27px;
    font-weight:900;
    margin:0;
}
.zt-item{
    border-radius:4px;
    padding:8px;
    background:#fff no-repeat right bottom;
    background-size:44px;
    position:relative;
    display:block;
}
.zt-item .item-title{
    color:var(--font-color-1);
    font-size:14px;
    font-weight:900;
    line-height:21px;
}
.zt-item p{
    color:var(--font-color-5);
    font-size:12px;
    line-height:18px;
}
.zt-item .icon{
    width:44px;
    position:absolute;
    bottom:0;
    right:0;
}
.zt-item.icon-1{
    background-image:url('/img/zt-icon-1.png');
}
.zt-item.icon-2{
    background-image:url('/img/zt-icon-2.png');
}
.zt-item.icon-3{
    background-image:url('/img/zt-icon-3.png');
}
.zt-item.icon-4{
    background-image:url('/img/zt-icon-4.png');
}
.zt-zb-item.icon-5{
    background-image:url('/img/zt-icon-5.png');
}
.zt-zb-item{
    border-radius:4px;
    background:var(--bg-color-3) no-repeat right bottom;
    background-size:80px;
    padding:16px;
    display:block;
}
.zt-zb-item .item-title{
    color:var(--font-color-1);
    font-size:24px;
    line-height:36px;
}
.zt-zb-item p{
    color:var(--font-color-2);
    font-size:12px;
    line-height:18px;
    margin-bottom:5px;
}
.zhuanti-btn a{
    color:var(--font-color-4);
    font-size:16px;
    line-height:24px;
    font-weight:900;
    text-align:center;
    border-radius:4px;
    padding:6px 0;
    display:block;
    background:var(--bg-color-2);
}
.zhuanti-banner{
    height:348px;
    overflow:hidden;
    border-radius:8px;
}
.zhuanti-banner a{
    height:100%;
    display:block;
}
.zhuanti-banner a img{
    max-height:100%;
}
@media (max-width: 1340px){
    .content-wrap{
        padding:8px;
    }
    .zhuanti>div{
        padding:8px;
    }
    .zhuanti-main{
        padding:8px;
    }
    .zt-item{
        background-size:35px;
    }
    .zhuanti-banner{
        height:340px;
    }
}
/**每天赛程**/
.saic>div{
    padding:12px;
}
.saic-main{
    border-radius:8px;
    box-shadow:0px 2px 6px 0px rgba(0,0,0,0.1);
    padding:12px;
    background:linear-gradient(#fff0de,#fff,#fff,#fff,#fff,#fff,#fff,#fff,#fff);
}
.saic-main .saic-title{
    padding:4px 4px 15px;
}
.saic-main .saic-title .title{
    font-size:18px;
    font-weight:900;
    line-height:25px;
    margin:0;
    float:left;
    position:relative;
}
.saic-main .saic-title .title:after{
    content:'';
    width:100%;
    height:80%;
    background:linear-gradient(to right,#fff, #ffd465);
    display:block;
    position:absolute;
    top:10%;
    right:-4px;
    border-radius:4px;
}
.saic-main .saic-title .title span{
    position:relative;
    z-index:1;
}
.saic-main .saic-title a{
    color: var(--theme-color);
    line-height:25px;
    float:right;
}
.saic-main .content{
    padding:4px;     
}
.saic-main .content .table-bordered{
    border:1px solid var(--font-color-7);
    margin-bottom:0;
}
.sai-item.active{
    background:var(--bg-color-5);
}
.saic-main .table>tbody>tr>td{
    padding:6px;
}
.sai-item .item-info{
    height:70px
}
.sai-item .item-info>div{
    float:left;
}
.sai-item.active .item-info .time{
    background:var(--bg-color-1);
}
.sai-item.active .item-info .time p{
    color:var(--font-color-4) !important;
}
.sai-item .item-info .time{
    padding:4px 10px;
    border-radius:8px;
    margin:0 10px;
}
.sai-item .item-info .time p{
    text-align:center;
    margin-bottom:0px;
}
.sai-item .item-info .time p:first-child{
    color:var(--font-color-1);
    font-size:16px;
    line-height:24px;
    font-weight:900;
}
.sai-item .item-info .time p:last-child{
    color:var(--font-color-2);
    font-size:14px;
    line-height:22px;   
}
.sai-item.not .item-info .time p{
    color:var(--font-color-5) !important;
}
.sai-item .item-info .fenge{
    width:0;
    height:100%;
    border:1px solid var(--font-color-7);
    margin:0 10px;
}
.sai-item .item-info .start{
    color:var(--font-color-5);
    height:100%;
    display:flex;
    margin:0 10px;
}
.sai-item .item-info .start span{
    align-self:center;
}
.sai-item .item-info .sai-user{
    height:100%;
    display:flex;
    margin:0 10px;
}
.sai-item .item-info .sai-user>div{
    display:inline-block;
    align-self:center;
}
.sai-item .item-info .sai-user .name{
    min-width:56px;
    color:var(--font-color-1);
    font-size:14px;
    line-height:22px;
    margin-top:-10px;
    margin-bottom:-10px;
}
.sai-item .item-info .sai-user .img{
    width:36px;
    height:36px;
    border-radius:32px;
    overflow:hidden;
    margin:0 10px;
}
.sai-item .item-info .sai-user .img img{
    max-width:100%;
}
.sai-item .item-info .sai-video{
    display:flex;
    height:100%;
    margin:0 10px;
}
.sai-item.not .item-info .sai-video{
    display:none;
}
.sai-item .item-info .sai-video a{
    display:inline-block;
    border:1px solid var(--font-color-3);
    border-radius:4px;
    padding:4px 10px;
    align-self:center;
}
.sai-item .item-info .sai-video a img{
    max-width:18px;
    border-radius:50%;
    overflow:hidden;
    margin:2px;
}
.sai-item .item-info .sai-video a span{
    color:var(--font-color-6);
    font-size:14px;
    line-height:22px;
    display:inline-block;
}
.sai-item .score{
    color:var(--font-color-1);
    font-weight:900;
    text-align:center;
}
.sai-item .infos span{
    width:27.25px;
    color:var(--font-color-1);
    text-align:center;
    display:inline-block;
    margin:0 8px;
}
.sai-item .recom{
    height:70px;
}
.sai-item .recom>div{
    display:flex;
    height:100%
}
.sai-item .recom a{
    width:100%;
    text-align:center;
    color:var(--theme-color);
    align-self:center;
    display:block;
}
.sai-item .recom span{
    width:100%;
    color:var(--font-color-5);
    text-align:center;
    align-self:center;
    display:block;
}
.saic-sidebar{
    background:var(--bg-color-6);
    padding:12px;
    border-radius:8px;
}
.saic-sidebar-title{
    line-height:25px;
    padding:4px 4px 6px;
}
.saic-sidebar-title .title{
    float:left;
    position:relative;
}
.saic-sidebar-title .title:after{
    content:"";
    width: 72px;
    height: 80%;
    background: linear-gradient(to right,#fff, #eb544e);
    display: block;
    position: absolute;
    top: 10%;
    left: 4px;
    border-radius: 4px;
}
.saic-sidebar-title .title span{
    display:inline-block;
    position:relative;
    z-index:1;
}
.saic-sidebar-title .title span:first-child{
    color:var(--font-color-1);
    font-size:18px;
    font-weight:900;
    margin-right:10px;
}
.saic-sidebar-title .title span:last-child{
    color:var(--font-color-1);
    font-size:14px;
}
.saic-sidebar-title a{
    color:var(--font-color-2);
    display:inline-block;
    float:right;
}
.saic-sidebar-content{
    padding:4px;
}
.saic-sidebar-content>div{
    padding:4px;
}
.saic-sidebar .content-item{
    background:var(--bg-color-4);
    border-radius:8px;
    padding:11px 6px;
    display:block;
}
.saic-sidebar .content-item img{
    width:18px;
    height:18px;
    border-radius:50%;
    overflow:hidden;
}
.saic-sidebar .content-item span{
    font-size:12px;
    display:inline-block;
}
.saic-sidebar .content-item span:nth-child(2){
    width:48px;
    color:var(--font-color-1);
}
.saic-sidebar .content-item span:last-child{
    font-size:13px;
    line-height:18px;
    color:var(--theme-color);
    font-weight:900;
    float:right;
}
.saic-sidebar .content-item-jm{
    background: var(--bg-color-5) no-repeat right bottom;
    background-image:url('/img/zt-icon-3.png');
    background-size: 70px;
    padding:16px;
    border-radius:8px;
    display:block;
}
.saic-sidebar .content-item-jm .item-title{
    color:var(--font-color-1);
    font-size:18px;
    font-weight:900;
    margin-top:4px;
    margin-bottom:12px;
}
.saic-sidebar .content-item-jm p{
    color:var(--font-color-8);
    font-size:14px;
    margin-bottom:0;
}
@media (max-width: 1340px){
    .saic>div,.saic-main,.saic-sidebar{
        padding:8px;
    }
    .sai-item .item-info .time,.sai-item .item-info .fenge,.sai-item .item-info .start,.sai-item .item-info .sai-user,.sai-item .item-info .sai-video{
        margin:0 6px
    }
    .sai-item .item-info .time{
        padding:4px 8px;
    }   
    .saic-sidebar-content{
        padding:6px 0;
    }
}
/**赛程资讯**/
.saic-zx>div{
    padding:12px;
}
.saic-zx-img{
    border-radius:8px;
    display:block;
    overflow:hidden;
    position:relative;
}
.saic-zx-img img{
    max-width:100%;
}
.saic-zx-img p{
    width:100%;
    font-size:20px;
    color:var(--font-color-4);
    text-align:center;
    padding:12px 0;
    position:absolute;
    bottom:0;
    z-index:1;
    margin:0;
    background:rgb(0,0,0,0.2);
}
.saic-zx-main{
    border-radius: 8px;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.1);
    padding: 12px;
    background: linear-gradient(#fff0de,#fff,#fff,#fff,#fff,#fff);
}
.saic-zx-title{
    padding: 20px 4px 15px;
    border-bottom:1px solid var(--font-color-3);
    margin-bottom:4px;
}
.saic-zx-title .title{
    font-size: 18px;
    font-weight: 900;
    line-height: 25px;
    margin: 0;
    float: left;
    position: relative;
}
.saic-zx-title .title:after{
    content: '';
    width: 100%;
    height: 80%;
    background: linear-gradient(to right,#fff, #ffd465);
    display: block;
    position: absolute;
    top: 10%;
    right: -4px;
    border-radius: 4px;
}
.saic-zx-title .title span{
    position: relative;
    z-index: 1;
}
.saic-zx-title a{
    color: var(--theme-color);
    line-height: 25px;
    float: right;
}
.saic-zx-main .saic-zx-content{
    padding:4px;
}
.saic-zx-main .saic-zx-content ul{
    margin-bottom:14px;
}
.saic-zx-main .saic-zx-content li{
    padding:4px 0;
}
.saic-zx-main .saic-zx-content li a{
    width:100%;
    color:var(--font-color-1);
    font-size:14px;
    line-height:22px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    display:block;
}
.saic-zx-main .saic-zx-content li:first-child{
    padding:14px 0;
}
.saic-zx-main .saic-zx-content li:first-child span{
    display:none;
}
.saic-zx-main .saic-zx-content li:nth-child(6){
    padding:14px 0;
}
.saic-zx-main .saic-zx-content li:nth-child(6) span{
    display:none;
}
.saic-zx-main .saic-zx-content li:first-child a{
    font-size:16px;
    color:var(--theme-color);
    line-height:26px;
    font-weight:900;
    white-space:normal;
}
.saic-zx-main .saic-zx-content li:nth-child(6) a{
    font-size:16px;
    color:var(--theme-color);
    line-height:26px;
    font-weight:900;
    white-space:normal;
}
.saic-zx-main .saic-zx-content li span{
    display:inline-block;
    padding-right:18px;
    border-right:1px solid var(--font-color-3);
    margin-right:18px;
}
/*网红----专家*/
.whzj{
    padding:12px;  
}
.whzj .whzj-main{
    border-radius:8px;
    box-shadow: 0px 0px 16px 0px rgba(147,74,74,0.1);
    padding:12px;
}
.whzj-module{
    padding:4px;
}
.whzj-module-title{
    padding: 10px 8px 20px;
}
.whzj-module-title .title{
    font-size: 18px;
    font-weight: 900;
    line-height: 25px;
    margin: 0;
    float: left;
    position: relative;
}
.whzj-module-title .title:after{
    content: '';
    width: 100%;
    height: 80%;
    
    display: block;
    position: absolute;
    top: 10%;
    right: -4px;
    border-radius: 4px;
}
.wh-jhd .whzj-module-title .title:after{
    background: linear-gradient(to right,#fff, #00CDB4);
}
.zj-ph .whzj-module-title .title:after{
    background: linear-gradient(to right,#fff, #F7D460);
}
.whzj-module-title .title span{
    position: relative;
    z-index: 1;
}
.whzj-module-title a{
    color: var(--theme-color);
    line-height: 25px;
    float: right;
}
.whzj-module-content>div{
    padding:8px;
}
.wh-jhd .whzj-item{
    background:var(--bg-color-7);
}
.zj-ph .whzj-item{
    background: var(--bg-color-8);
}
.whzj-item{
    border-radius:8px;
    text-align:center;
    display:block;
    padding:12px;
}
.whzj-item .user-img{
    width:62px;
    height:92px;
    position:relative;
    margin:0 auto;
}
.whzj-item .user-img img{
    max-width:80%;
}
.whzj-item .user-img span{
    width:100%;
    color:var(--font-color-4);
    line-height:22px;
    border-radius:22px;
    background:var(--bg-color-2);
    display:block;
    position:absolute;
    left:0;
    bottom:0;
}
.whzj-item p:nth-child(2){
    color:var(--font-color-1);
    font-size:16px;
    line-height:24px;
    font-weight:900;
    margin-top:8px;
    margin-bottom:10px;
}
.whzj-item p:last-child{
    color:var(--font-color-1);
    font-size:16px;
    line-height:24px;
    margin-bottom:0;
}
@media (max-width: 1340px){
    .saic-zx>div{
        padding:8px;
    }
    .saic-zx-main{
        padding:8px;
    }
    .saic-zx-title{
        padding: 15px 4px 10px;
    }
    .saic-zx-img{
        height:438px;
    }
    .saic-zx-main .saic-zx-content li:first-child{
        padding:10px 0;
    }
    .saic-zx-main .saic-zx-content li:nth-child(6){
        padding:10px 0;
    }
    .saic-zx-main .saic-zx-content ul{
        margin-bottom:5px;
    }
}
/**赛事列表**/
.match-list-page .content-wrap{
    padding:24px 16px;
}
.match-list{
    padding:0 24px;
}
.match-list .list-head{
    margin-bottom:25px;
}
.match-list .list-head .title{
    color:var(--font-color-1);
    font-weight:900;
    font-size:24px;
    line-height:36px;
    margin-top:0;
    margin-bottom:0;
    margin-right:28px;
    float:left;
}
.match-list .list-head .pull-down{
    width:auto;
    color:var(--font-color-1);
    height:36px;
    float:left;
}
.match-list .list-head>a{
    color:var(--font-color-2);
    font-size:16px;
    line-height:36px;
    float:right;
}
.match-list .list-main .table{
    text-align:center;
}
.match-list .list-main .table thead{
    background:var(--bg-color-9);
}
.match-list .list-main .table thead tr th{
    font-size:16px;
    line-height:24px;
    text-align:center;
}
.match-list .list-main .table  .result span{   
    width:64px;
    display:inline-block;
}
.match-list .list-main .time{
    color:var(--font-clor-1);
    font-size:16px;
    line-height:24px;
    font-weight:900;
    text-align:left;
}
.match-list .list-main .time .on-off{
    color:var(--theme-color);
    font-size:16px;
    line-height:24px;
    display:inline-block;
}
.match-list .list-main .time .on-off:before{
    content:'';
    width:12px;
    border:6px solid var(--theme-color);
    border-color:var(--theme-color) transparent transparent;
    display:inline-block;
    margin-right:8px;
    position:relative;
    top:4px;
}